
/*Nav Folder*/
.nav-folder.mod-root>.nav-folder-title {
font-size: 25px;
line-height: 100%;
text-transform: none;
line-height: normal;
}

.nav-folder.mod-root>.nav-folder-title .nav-folder-title-content{
font-weight:900 !important;
text-transform:initial !important;
font-size: 32px !important;
line-height: normal;
font-family: 'Iosevka' !important;
font-feature-settings: "zero", "ss16" on !important;
letter-spacing: 0 !important;
}

/*Name*/
body:not(.is-mobile) .empty-state-action-list::before {
content: "Bilinear vault" !important;
font-size: 200%;
font-weight: 900;
line-height: normal;
font-family: "Iosevka";
font-feature-settings: "zero", "ss16" on;
}

.empty-state-title{
display: none;
}