@import url("https://lalten.github.io/lmweb/style/latinmodern-sans.css");

@font-face {
      font-family: 'Latin Modern Sans';
      src: url('https://lalten.github.io/lmweb/font/lmsans-boldoblique-webfont.eot');
      src: url('https://lalten.github.io/lmweb/font/lmsans-boldoblique-webfont.eot?#iefix') format('embedded-opentype'),
            url('https://lalten.github.io/lmweb/font/lmsans-boldoblique-webfont.woff') format('woff'),
            url('https://lalten.github.io/lmweb/font/lmsans-boldoblique-webfont.ttf') format('truetype'),
            url('https://lalten.github.io/lmweb/font/lmsans-boldoblique-webfont.svg#latin_modern_sans10BdOb') format('svg');
      font-weight: bold;
      font-style: oblique;
}

@font-face {
      font-family: 'Latin Modern Sans';
      src: url('https://lalten.github.io/lmweb/font/lmsans-bold-webfont.eot');
      src: url('https://lalten.github.io/lmweb/font/lmsans-bold-webfont.eot?#iefix') format('embedded-opentype'),
            url('https://lalten.github.io/lmweb/font/lmsans-bold-webfont.woff') format('woff'),
            url('https://lalten.github.io/lmweb/font/lmsans-bold-webfont.ttf') format('truetype'),
            url('https://lalten.github.io/lmweb/font/lmsans-bold-webfont.svg#latin_modern_sans10_bold') format('svg');
      font-weight: bold;
      font-style: normal;
}

@font-face {
      font-family: 'Latin Modern Sans';
      src: url('https://lalten.github.io/lmweb/font/lmsans-oblique-webfont.eot');
      src: url('https://lalten.github.io/lmweb/font/lmsans-oblique-webfont.eot?#iefix') format('embedded-opentype'),
            url('https://lalten.github.io/lmweb/font/lmsans-oblique-webfont.woff') format('woff'),
            url('https://lalten.github.io/lmweb/font/lmsans-oblique-webfont.ttf') format('truetype'),
            url('https://lalten.github.io/lmweb/font/lmsans-oblique-webfont.svg#latin_modern_sans10_oblique') format('svg');
      font-weight: normal;
      font-style: oblique;
}

@font-face {
      font-family: 'Latin Modern Sans';
      src: url('https://lalten.github.io/lmweb/font/lmsans-regular-webfont.eot');
      src: url('https://lalten.github.io/lmweb/font/lmsans-regular-webfont.eot?#iefix') format('embedded-opentype'),
            url('https://lalten.github.io/lmweb/font/lmsans-regular-webfont.woff') format('woff'),
            url('https://lalten.github.io/lmweb/font/lmsans-regular-webfont.ttf') format('truetype'),
            url('https://lalten.github.io/lmweb/font/lmsans-regular-webfont.svg#latin_modern_sans10_regular') format('svg');
      font-weight: normal;
      font-style: normal;
}

.block-language-latexsvg svg {
	width: initial;
	zoom: 3;
	display: block;
	overflow: visible;
	margin-left: auto;
	margin-right: auto;
}

.callout[data-callout="definition"]>.callout-title>.callout-icon::after {
      content: "Definition." !important;
      grid-area: after;
      white-space: pre-wrap;
      padding-left: 5px;
      font-weight: 500;
}
